html {
  height: 100vh;
  box-sizing: border-box;
}
*,
*:after,
*:before {
  box-sizing: inherit;
}
body {
  font-family: "Lato", sans-serif;
  min-height: 100vh;
  margin: 0;

  #root {
    height: 100vh;
  }
}

@media (max-width: $phone) {
  html {
    font-size: 12px;
  }
}
